<h1>Bem vindo à sua Lista de Tarefa!</h1>
<em> <%= Date.today.strftime("Hoje é dia %d/%m/%Y")%></em>
<p>O que preciso fazer ?</p>

<% @tasks.each do |task| %>
  <p> <%= task.description %>
      <%= link_to 'Editar', edit_task_path(task) %>
      <%= link_to 'Apagar', task_path(task), method: :delete,
          data: {confirm: 'Quer apagar esta tarefa?'} %>
  </p>
<% end %>

<p><%= link_to '+ Nova Tarefa', new_task_url %></p>